.shopping-cart {
  width: 80%;
  margin: 0 auto;
  .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid green;
  }

  .cart-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;

    img {
      width: 20rem;
    }

    .description {
      font-size: 1.5rem;
      max-width: 30rem;
    }

    .price {
      font-size: 2rem;
    }

    .quantity {
      display: flex;
    }

    .value {
      margin: 0 0.5rem;
    }

    .remove {
      font-size: 1.2rem;
      margin-top: 0.5rem;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }

    .arrow {
      cursor: pointer;
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 3rem;
    background-color: lightgray;
  }
}
