.header {
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 30rem;
    }

    .cart-container {
      display: flex;
      align-items: center;
      padding: 2rem;
      margin-right: 5rem;

      .cart {
        width: 3.5rem;
        height: 3.5rem;
      }

      .cart-icon {
        position: relative;

        .counter {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      p {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }

  .options {
    text-align: center;
    a {
      text-decoration: none;
      padding: 0 4rem;
      font-size: 2rem;

      &:hover {
        opacity: 0.8;
        text-shadow: 0 0 0.01rem black;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 20rem;
      }
    }
  }
}
