.product-page {
  display: flex;

  .product-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  .font-size {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .product-page {
    .product-list {
      width: 60%;
    }
  }
}
